*.classpath
*.project
.settings
.project
*.iml
*.idea
.classpath
.metadata
.recommenders
Servers
**/.springBeans
**/target
Servers
.metadata
.recommenders
.springBeans
**/.springBeans
**/*.log
/startDev
*/bin
